body {
    background-image: url('/image/background.webp');  /* Set background image */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 60% 65%;
}

ul {
    list-style-type: none;  
    padding: 5px;  
    margin: 15px;  
    display: flex;  
    flex-wrap: wrap; 
    justify-content: center;  
}

.a-navigation {
    text-decoration: none;  
    color: #3c3939;  
    padding: 15px;  
    margin: 15px;  
    border-radius: 5px;  
    background-color: #f0f0f0;  
    transition: background-color 0.3s ease;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    box-shadow: 0px 0px 0px #3c3939;
}

.a-navigation:hover {
    background-color: #ddd;  
}
.a-navigation:active {
    background-color: #bbb;  
}

.img-nav {
    margin-right: 10px; 
}

#barre {
    border-bottom: solid 3px rgb(157, 149, 149); 
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

h1 {
    text-align: center;  /* Center the heading text */
    color: #3c3939;  /* Set heading color to black */
    font-size: 2.5em;  /* Set font size for the heading */
    margin: 20px 0;  /* Add margin above and below the heading */
}

#button-cv {
    background-color: #3c3939;  /* Set button background color to black */
    color: white;  /* Set button text color to white */
    padding: 10px 20px;  /* Add padding around the button */
    border: none;  /* Remove default border */
    border-radius: 5px;  /* Round the corners of the button */
    cursor: pointer;  /* Change cursor to pointer on hover */
    font-size: 1.2em;  /* Set font size for the button text */
    transition: background-color 0.3s ease;  /* Smooth transition for background color change */
}
#button-cv:hover {
    background-color: #555;  /* Change button background color on hover */
}

#button-cv:active {
    background-color: #333;  /* Change button background color when button is active */
}
#button-cv:focus {
    outline: none;  /* Remove default focus outline */
    box-shadow: 0 0 5px #3c3939;  /* Add a shadow effect when button is focused */
}

#a-button-cv {
    text-align: center; 
    text-decoration: none;  /* Remove underline from link */
    color: white;  /* Set link text color to white */
    font-size: 1.2em;  /* Set font size for the link text */
    margin-top: 10px;  /* Add margin above the link */
}

.container {
    width: 90%;
    max-width: 1200px;
    /* margin: 0 auto 150px auto; */
    padding: 20px;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    
}

.BTS-box {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(254, 254, 255);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    width: 80%;  /* Set width to 80% of the container */
    max-width: 1200px;  /* Set maximum width to 800px */
    display: flex;  /* Use flexbox for layout */
    flex-direction: column;  /* Stack items vertically */
    align-items: center;  /* Center items horizontally */
    justify-content: center;  /* Center items vertically */
    gap: 20px;  /* Add space between items */

}

.BTS-title {
    text-align: center;
    margin: 10px;
    flex-direction: column;  /* Stack items vertically */
    /* width: 90%; */
    max-width: 1300px;
    /* margin: 0 auto 150px auto; */
    padding: 20px;
    color: var(--text-color);
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(254, 254, 255);
    font-size: 1.2em;  /* Set font size for the title */
    color: #3c3939;  /* Set title color to black */
    margin-bottom: 20px;  /* Add margin below the title */
}

.BTS-modules {
    text-align: center;
    margin: 10px;
    width: 90%;
    max-width: 1300px;
    /* margin: 0 auto 150px auto; */
    padding: 20px;
    color: var(--text-color);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
}

.BTS-module {
    /* flex: 1 1 45%; */
    min-width: 300px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    background-color: rgb(254, 254, 255);
    padding-right: 30px;
}


/* Test CSS */

.test-1 {
    width: 90%;
    max-width: 1200px;
    /* margin: 0 auto 150px auto; */
    padding: 20px;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(254, 254, 255);
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    align-items: center;
    justify-content: center;
}

.test-gauche {
    background-color: rgb(254, 254, 255);
    border-right: 3px solid #333;
    padding-right: 30px;
}

.test-droite {
    background-color: rgb(254, 254, 255);
    padding-left: 30px;
}

.competences {
    /* flex: 1 1 20%; */
    min-width: 5px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    background-color: rgb(254, 254, 255);
    padding-right: 30px;
}